@font-face {
    font-family: "madimi";
    src: url(./asset/fonts/MadimiOne-Regular.woff) format("woff"),
         url(./asset/fonts/MadimiOne-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: #F5F1E3;
    --secondary-color: #DDDBCB;
    --tertiary-color: #ffffff;

    --hover: #a6a6a6;

    --heading: #000;

    --completed: #7D7D7C;

    --text-size: 1.1rem;
    --font: "madimi";

    --border-btn: 8px;
    --button-width: 80px;
    --button-height: 1.8rem; 

    --edit-btn: #21bed1;
    --confirm-btn: var(--edit-btn);
    --add-btn: var(--edit-btn);
    --delete-btn: #D91A21;
    --checkbox: var(--edit-btn);    

    --icon: 20px;

    --input-width: 320px;
    --input-height: 1.2rem;
    --input-padding: 4px;

    --statement: 0.9rem;
}

html {
    height: 100%;
}

body {
    position: relative;

    min-height: 100%;

    display: grid;

    grid-template-rows: 6.5rem auto 48px;

    font-family: "madimi";
}

#bg-img {
    position: absolute;

    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url(./asset/img/laptop-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(0px);
}


header, footer {
    text-align: center;

    color: var(--heading);
}

/* HEADER */

header {
    padding: 1rem;
}

header > h1 {
    padding: 10px 24px;

    justify-self: center;
    color: var(--tertiary-color);
}

/* MAIN */

main {
    height: 100%;

    display: grid;
}

#content-container {
    align-self: center;
    justify-self: center;

    width: min(100%, 850px);
    height: 415px;

    display: grid;

    grid-template-rows: 0.1fr minmax(0, 1fr);
    grid-template-columns: 0.5fr auto;

    padding: 1rem;

    background-color: var(--primary-color);
    opacity: var(--op);

    column-gap: 18px;
}

#content-container > .list-container {
    background-color: var(--secondary-color);

    display: grid;

    grid-template-rows: minmax(0, 1fr) 0.1fr;

    padding: 8px 14px;
}

/* ToDo lists */

.list-container > #todo-list {
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.list-container > .list > .list-item {
    line-height: 2rem;
    list-style: none;
    border-bottom: 1px solid black;

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding-left: 3px;

    cursor: pointer;

}

.list-container > #todo-list > .list-item > .list-name,
.list-container > #task-list > .list-item > .task-name {
    flex-grow: 1;
}

.list-container > .list > .list-item > .btn {
    border: none;

    cursor: pointer;
}

.list-container > .list > .list-item > .edit-list.btn,
.list-container > .list > .list-item > .edit-task.btn {
    width: var(--icon);
    height: var(--icon);
    background-color: var(--edit-btn);
    mask: url("asset/icons/edit.svg") no-repeat center;
}

.list-container > .list > .list-item > .delete-list.btn,
.list-container > .list > .list-item > .delete-task.btn{
    width: var(--icon);
    height: var(--icon);
    background-color: var(--delete-btn);
    mask: url("asset/icons/delete.svg") no-repeat center;

    margin-left: 8px;
}

.list-container > .list > .list-item:hover {
    color: var(--hover);
}

.list-container > .list > .list-item > .edit-list.btn:hover,
.list-container > .list > .list-item > .delete-list.btn:hover,
.list-container > .list > .list-item > .edit-task.btn:hover,
.list-container > .list > .list-item > .delete-task.btn:hover {
    background-color: var(--hover);
}

/* New list button */

.list-container > .add > .new-list-btn,
.list-container > .add > .add-task-btn {
    width: fit-content;
    height: 100%;

    display: flex;

    align-items: center;

    padding: 0;

    border: none;
    background: transparent;

    cursor: pointer;
}

.list-container > .add > .new-list-btn > span,
.list-container > .add > .add-task-btn > span {
    height: 20px;
    padding: 0 0;

    font-family: "madimi";
    font-size: var(--text-size);

    text-align: left;
}

.add-btn.svg-container {
    width: 20px;
    height: 20px;
    background-color: #000;
    mask: url("asset/icons/add.svg") no-repeat center;
}

.list-container > .add.wrapper > button:hover {
    color: var(--hover);
}

.list-container > .add.wrapper > button:hover > .add-btn.svg-container {
    background-color: var(--hover);
}

/* Task Container */

#task-list {
    display: flex;

    flex-direction: column;

    overflow-y: auto;
}

#task-list > .list-item > .task-name {
    margin-left: 8px;
}

#task-list > .list-item > input[type="checkbox"] {
    position: relative;
    appearance: none;

    width: var(--icon);
    height: var(--icon);

    border-radius: 50%;
    border: 2px solid var(--checkbox);
}

#task-list > .list-item > input[type="checkbox"]::before {
    width: 100%;
    position: absolute;

    content: "✔";
    opacity: 0;
    
    text-align: center;
    font-size: 14px;

    transform: translateY(-2px);
}

#task-list > .list-item > input[type="checkbox"]:checked {
    background-color: var(--checkbox);
}

#task-list > .list-item > input[type="checkbox"]:checked::before {
    opacity: 1;

    color: var(--secondary-color);
}

#task-list > .list-item > input[type="checkbox"]:not(:checked):hover::before {
    opacity: 1;
    color: var(--checkbox);
}

#task-list > .list-item > .checkbox:checked ~ .task-name {
    text-decoration: line-through;

    color: var(--completed);
}

#task-list > h4 {
    display: inline-block;

    text-align: center;

    margin: auto;
}

/* Modal */
.modal {
    background-color: var(--secondary-color);
    margin: auto;

    padding: 14px;
    border-radius: 20px;

    box-sizing: border-box;

    font-size: var(--text-size);
}

.modal::backdrop {
    backdrop-filter: blur(3px);
}

.modal > .form {
    display: grid;
}

/* Modal buttons */
.modal .statement {
    font-size: var(--statement);
}

.modal .modal-btns {
    margin-top: 16px;

    display: flex;

    justify-content: center;
    column-gap: 8px;
}

.modal .modal-btn {
    width: var(--button-width);
    line-height: var(--button-height);
    border-radius: var(--border-btn);

    border: none;

    font-family: var(--font);
    font-size: var(--text-size);
}

.modal .modal-btn:hover {
    outline: 1px solid black;
    background-color: var(--hover);
    color: var(--tertiary-color);
}

.modal .submit-btn {
    background-color: var(--confirm-btn);
}

.modal .add-btn {
    background-color: var(--add-btn);
}

.modal .delete-btn {
    background-color: var(--delete-btn);
}

.modal .edit-btn {
    background-color: var(--edit-btn);
}

.modal .text-input,
.modal .textarea-input {
    width: var(--input-width);
    line-height: var(--input-height);
    padding: var(--input-padding);

    font-family: var(--font);
    font-size: var(--text-size);
}

.modal .textarea-input {
    height: 90px;
    resize: none;
}

.task.modal > .form{
    grid-template-columns: 1fr 1fr;

    column-gap: 12px;
}

.task.modal > .form > input,
.task.modal > .form > textarea,
.task.modal > .form > select {
    margin-bottom: 6px;
}

.task.modal > .form > *:has(~ .due-date-label),
.task.modal > .form >.select-priority ~ * {
    grid-column: 1 / span 2;
}

.task.modal > .form > .due-date-label,
.task.modal > .form > .priority-label {
    grid-row: 5;
}


/* FOOTER */

footer {
    background-color: var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

footer > #dev {
    height: 100%;

    display: grid;
}

footer > #dev > p {
    max-width: max-content;

    justify-self: center;
    align-self: center;
}