@font-face {
    font-family: "madimi";
    src: url(./asset/fonts/MadimiOne-Regular.woff) format("woff"),
         url(./asset/fonts/MadimiOne-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: #F5F1E3;
    --secondary-color: #DDDBCB;
    --tertiary-color: #ffffff;

    --hover: #a6a6a6;

    --heading: #000;
    --text: #7D7D7C;

    --text-size: 1.1rem;

    --edit-btn: #21bed1;
    --delete-btn: #D91A21;

    --icon: 20px;
}

html {
    height: 100%;
}

body {
    position: relative;

    min-height: 100%;

    display: grid;

    grid-template-rows: 6.5rem auto 48px;

    font-family: "madimi";
}

#bg-img {
    position: absolute;

    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url(./asset/img/laptop-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(0px);
}


header, footer {
    text-align: center;

    color: var(--heading);
}

/* HEADER */

header {
    padding: 1rem;
}

header > h1 {
    padding: 10px 24px;

    justify-self: center;
    color: var(--tertiary-color);
}

/* MAIN */

main {
    height: 100%;

    display: grid;
}

.content-container {
    align-self: center;
    justify-self: center;

    width: min(100%, 850px);
    height: 415px;

    display: grid;

    grid-template-rows: 0.1fr minmax(0, 1fr);
    grid-template-columns: 0.5fr auto;

    padding: 1rem;

    background-color: var(--primary-color);
    opacity: var(--op);

    column-gap: 18px;
}

.content-container > .list-container {
    background-color: var(--secondary-color);

    display: grid;

    grid-template-rows: minmax(0, 1fr) 0.1fr;

    padding: 8px 14px;
}

/* Task lists */

.list-container > #todo-list {
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

.list-container > #todo-list > .list-item {
    line-height: 2rem;
    list-style: none;
    border-bottom: 1px solid black;

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding-left: 3px;

    cursor: pointer;

}

.list-container > #todo-list > .list-item > .list-name {
    flex-grow: 1;
}

.list-container > #todo-list > .list-item > .edit-list.icon {
    width: var(--icon);
    height: var(--icon);
    background-color: var(--edit-btn);
    mask: url("asset/icons/edit.svg") no-repeat center;
}

.list-container > #todo-list > .list-item > .delete-list.icon{
    width: var(--icon);
    height: var(--icon);
    background-color: var(--delete-btn);
    mask: url("asset/icons/delete.svg") no-repeat center;

    margin-left: 8px;
}

.list-container > #todo-list > .list-item:hover {
    color: var(--hover);
}

.list-container > #todo-list > .list-item > .delete-list.icon:hover,
.list-container > #todo-list > .list-item > .edit-list.icon:hover {
    background-color: var(--hover);
}

/* New list button */

.list-container > .add > .new-list-btn,
.list-container > .add > .add-task-btn {
    width: fit-content;
    height: 100%;

    display: flex;

    align-items: center;

    padding: 0;

    border: none;
    background: transparent;

    cursor: pointer;
}

.list-container > .add > .new-list-btn > span,
.list-container > .add > .add-task-btn > span {
    height: 20px;
    padding: 0 0;

    font-family: "madimi";
    font-size: var(--text-size);

    text-align: left;
}

.add-btn.svg-container {
    width: 20px;
    height: 20px;
    background-color: #000;
    mask: url("asset/icons/add.svg") no-repeat center;
}

.list-container > .add.wrapper > button:hover {
    color: var(--hover);
}

.list-container > .add.wrapper > button:hover > .add-btn.svg-container {
    background-color: var(--hover);
}

/* FOOTER */

footer {
    background-color: var(--primary-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

footer > #dev {
    height: 100%;

    display: grid;
}

footer > #dev > p {
    max-width: max-content;

    justify-self: center;
    align-self: center;
}