@font-face {
    font-family: "madimi";
    src: url(./asset/fonts/MadimiOne-Regular.woff) format("woff"),
         url(./asset/fonts/MadimiOne-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary-color: #F5F1E3;
    --secondary-color: #DDDBCB;
    --tertiary-color: #ffffff;

    --hover: #c6c5b8;

    --heading: #000;
    --text: #525252;

    --text-size: 1.1rem;

    --first-btn: #21BED1;
    --second-btn: #D91A21;
    --third-btn: var(--secondary-color);

    --btn-width: 90px;
    --btn-height: 1.5rem;

    --input-width: 138px;
    --input-height: 2.2rem;

    --list-width: 124px;
    --list-height: 2.3rem;

    --task-width: 210px;
    --task-height: 2.6rem;

    --op: 1;
}

html {
    height: 100%;
}

body {
    position: relative;

    min-height: 100%;

    display: grid;

    grid-template-rows: 6.5rem auto 48px;

    font-family: "madimi";
}

#bg-img {
    position: absolute;

    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url(./asset/img/laptop-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: blur(0px);
}


header, footer {
    text-align: center;

    color: var(--heading);
}

/* HEADER */

header {
    padding: 1rem;
}

header > h1 {
    padding: 10px 24px;

    justify-self: center;
    color: var(--tertiary-color);
}

/* MAIN */

main {
    height: 100%;

    display: grid;
}

.content-container {
    align-self: center;
    justify-self: center;

    width: min(100%, 850px);
    height: 80%;

    display: grid;

    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 0.5fr auto;

    padding: 1rem;

    background-color: var(--primary-color);
    opacity: var(--op);

    column-gap: 18px;
}

.content-container > .list-container {
    background-color: var(--secondary-color);

    display: grid;

    grid-template-rows: 1fr 0.1fr;

    padding: 8px 14px;
}

.list-container > #todo-list {
    position: relative;
    max-height: inherit;

    overflow: auto;

    display: flex;
    flex-direction: column;
}

.list-container > #todo-list > .list-item {
    line-height: 2rem;
    list-style: none;
    border-bottom: 2px solid black;

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding-left: 3px;
}

.btn > img {
    width: 20px;
    height: 20px;
}

.content-container > .list-container > .add > .new-list-btn,
.content-container > .list-container > .add > .add-task-btn {
    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;

    padding: 0;

    border: none;
    background: transparent;
}

.content-container > .list-container > .add > .new-list-btn:hover,
.content-container > .list-container > .add > .add-task-btn:hover {
        background-color: var(--hover);
}

.content-container > .list-container > .add > .new-list-btn > span,
.content-container > .list-container > .add > .add-task-btn > span {
    height: 20px;
    padding: 0 0;

    font-family: "madimi";
    font-size: var(--text-size);
}



/* FOOTER */

footer {
    background-color: var(--primary-color);
    opacity: var(--op);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

footer > #dev {
    height: 100%;

    display: grid;
}

footer > #dev > p {
    max-width: max-content;

    justify-self: center;
    align-self: center;
}